openapi: 3.0.3
info:
  title: API Documentation
  version: 1.0.0

servers:
  - url: https://unmoaning-lenora-photomechanically.ngrok-free.dev
    description: Ngrok Tunnel Server (Default)
  - url: http://127.0.0.1:8000
    description: Local Development Server

paths:
  # include modular files
  # Auth
  /api/register:
    $ref: "./paths/auth/register.yaml"
  /api/login:
    $ref: "./paths/auth/login.yaml"
  /api/refresh-token:
    $ref: "./paths/auth/refresh_token.yaml"
  /api/logout:
    $ref: "./paths/auth/logout.yaml"
  /api/users:
    $ref: "./paths/users/collection.yaml"
  /api/users/{id}:
    $ref: "./paths/users/detail.yaml"
  /api/activities:
    $ref: "./paths/activities/list.yaml"
  /api/payment-channels:
    $ref: "./paths/payment_channels/collection.yaml"
  /api/payment-channels/{id}:
    $ref: "./paths/payment_channels/detail.yaml"
  # mutations
  /api/mutations:
    $ref: "./paths/mutations/collection.yaml"
  # Options
  /api/houses/options:
    $ref: "./paths/houses/options.yaml"
  /api/families/options:
    $ref: "./paths/families/options.yaml"
components:
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      $ref: "./schemas/user.yaml"
    Activity:
      $ref: "./schemas/activity.yaml"
    PaymentChannel:
       $ref: "./schemas/payment_channel.yaml"
    User Full:
      $ref: "./schemas/user_full.yaml"
    Mutation:
      $ref: "./schemas/mutation.yaml"
