openapi: 3.0.3
info:
  title: API Documentation
  version: 1.0.0

servers:
  - url: http://127.0.0.1:8000
    description: Local Development Server
  - url: https://unmoaning-lenora-photomechanically.ngrok-free.dev
    description: Ngrok Tunnel Server (Default)

paths:
  # include modular files
  # Auth
  /api/register:
    $ref: "./paths/auth/register.yaml"
  /api/login:
    $ref: "./paths/auth/login.yaml"
  /api/refresh-token:
    $ref: "./paths/auth/refresh_token.yaml"
  /api/logout:
    $ref: "./paths/auth/logout.yaml"
  /api/users:
    $ref: "./paths/users/collection.yaml"
  /api/users/{id}:
    $ref: "./paths/users/detail.yaml"
  /api/activities:
    $ref: "./paths/activities/list.yaml"
  /api/payment-channels:
    $ref: "./paths/payment_channels/collection.yaml"
  /api/payment-channels/{id}:
    $ref: "./paths/payment_channels/detail.yaml"
  # mutations
  /api/mutations:
    $ref: "./paths/mutations/collection.yaml"
  # Announcements
  /api/announcements:
    $ref: "./paths/announcements/collection.yaml"
  # Finance
  /api/finance/incomes:
    $ref: "./paths/finance/incomes.yaml"
  /api/finance/expenses:
    $ref: "./paths/finance/expenses.yaml"
  /api/finance/report:
    $ref: "./paths/finance/report.yaml"

  # Citizens
  /api/citizens:
    $ref: "./paths/citizen/collection.yaml"

  #houses
  /api/houses:
    $ref: "./paths/houses/collection.yaml"

  #families
  /api/families:
    $ref: "./paths/families/collection.yaml"
  # Aspirasi
  /api/aspirasi:
    $ref: "./paths/aspirasi/collection.yaml"
  /api/aspirasi/{id}:
    $ref: "./paths/aspirasi/detail.yaml"

  # Options
  /api/houses/options:
    $ref: "./paths/houses/options.yaml"
  /api/families/options:
    $ref: "./paths/families/options.yaml"

  # Dashboards
  /api/dashboard/main:
    $ref: "./paths/dashboard/main-dashboard.yaml"

  /api/dashboard/finance:
    $ref: "./paths/dashboard/finance-dashboard.yaml"

  /api/dashboard/activity:
    $ref: "./paths/dashboard/activity-dashboard.yaml"

  /api/dashboard/population:
    $ref: "./paths/dashboard/population-dashboard.yaml"
components:
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      $ref: "./schemas/user.yaml"
    Activity:
      $ref: "./schemas/activity.yaml"
    PaymentChannel:
       $ref: "./schemas/payment_channel.yaml"
    User Full:
      $ref: "./schemas/user_full.yaml"
    Mutation:
      $ref: "./schemas/mutation.yaml"
    Announcement:
      $ref: "./schemas/announcement.yaml"
    TransactionItem:
      $ref: "./schemas/transaction_item.yaml"
    FinancialReport:
        $ref: "./schemas/financial_report.yaml"
    CitizenShort:
      $ref: "./schemas/citizen_short.yaml"
    CitizenFull:
      $ref: "./schemas/citizen_full.yaml"
    CitizenCreate:
      $ref: "./schemas/citizen_create.yaml"
    House:
      $ref: "./schemas/house.yaml"
    FamilyFull:
      $ref: "./schemas/family_full.yaml"
    Aspirasi:
      $ref: "./schemas/aspirasi.yaml"
    dashboard_main:
      $ref: "./schemas/dashboard_main.yaml"
    dashboard_finance:
      $ref: "./schemas/dashboard_finance.yaml"
    dashboard_activity:
      $ref: "./schemas/dashboard_activity.yaml"
    dashboard_population:
      $ref: "./schemas/dashboard_population.yaml"

